# Importamos librerias y conectamos con la base de datos

In [28]:
import pandas as pd
import os 

file_path = os.path.join("..", "data", "processed", "tripdata_clean.csv")

# cargamos datos 
df= pd.read_csv(file_path)
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,tip_amount,total_amount,congestion_surcharge,trip_duration_min
0,2019-12-01 00:26:58,2019-12-01 00:41:45,1,4.2,142,116,2.0,14.5,0.00,18.30,2.5,14.78
1,2019-12-01 00:12:03,2019-12-01 00:33:19,2,9.4,138,25,1.0,28.5,10.00,39.80,0.0,21.27
2,2019-12-01 00:05:27,2019-12-01 00:16:32,2,1.6,161,237,2.0,9.0,0.00,12.80,2.5,11.08
3,2019-12-01 00:58:51,2019-12-01 01:08:37,2,1.0,161,230,2.0,6.5,0.00,10.30,2.5,9.77
4,2019-12-01 00:19:48,2019-12-01 00:24:18,1,0.9,148,4,1.0,5.5,1.85,11.15,2.5,4.50

# Informacion del DataFrame
__Ver cantidad de filas y columnas.__ 
__Ver nombres de columnas.__
__Que tipos de datos.__
__Analizar posibles columnas mal interpretadas.__

In [29]:
print ("Shape (filas, columnas): ", df.shape)
print ("\nColumnas del dataset:")
print (df.columns)

print ("\nTipos de datos:")
print (df.dtypes)

Shape (filas, columnas):  (6615438, 12)

Columnas del dataset:
Index(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count',
       'trip_distance', 'pulocationid', 'dolocationid', 'payment_type',
       'fare_amount', 'tip_amount', 'total_amount', 'congestion_surcharge',
       'trip_duration_min'],
      dtype='object')

Tipos de datos:
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pulocationid               int64
dolocationid               int64
payment_type             float64
fare_amount              float64
tip_amount               float64
total_amount             float64
congestion_surcharge     float64
trip_duration_min        float64
dtype: object

In [30]:
# Valores nulos 
print ("Valores nulos por columna:")
print (df.isnull().sum())

Valores nulos por columna:
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
pulocationid             0
dolocationid             0
payment_type             0
fare_amount              0
tip_amount               0
total_amount             0
congestion_surcharge     0
trip_duration_min        0
dtype: int64

In [31]:
df.describe()

,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,tip_amount,total_amount,congestion_surcharge,trip_duration_min
count,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06,6.615438e+06
mean,1.581482e+00,2.976829e+00,1.639114e+02,1.616266e+02,1.290172e+00,1.330692e+01,2.262078e+00,1.940099e+01,2.321105e+00,1.506952e+01
std,1.167270e+00,3.885100e+00,6.588021e+01,7.016653e+01,4.699574e-01,1.197863e+01,2.797790e+00,1.477755e+01,6.443871e-01,1.280231e+01
min,1.000000e+00,1.000000e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,0.000000e+00,3.100000e-01,0.000000e+00,2.000000e-02
25%,1.000000e+00,9.800000e-01,1.250000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,1.130000e+01,2.500000e+00,6.880000e+00
50%,1.000000e+00,1.610000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,1.960000e+00,1.480000e+01,2.500000e+00,1.167000e+01
75%,2.000000e+00,3.010000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.500000e+01,3.000000e+00,2.100000e+01,2.500000e+00,1.925000e+01
max,9.000000e+00,1.735000e+02,2.650000e+02,2.650000e+02,4.000000e+00,6.012500e+03,4.044400e+02,6.015800e+03,3.000000e+00,4.998200e+02